body {
    background-color: #f8f9fa;
}

table {
    background-color: #fff;
    border-radius: 5px;
}

.table th {
    padding: 1em;
}

.title-header {
    background-color: #fff;
    width: 100%;
    margin: 0 auto 2em auto;
    padding: 2em 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.container {
    width: 85%;
    margin: auto;
}

a {
    text-decoration: none;
    color: #fff
}

a:hover {
    color: #fff;
}

.container-fx-sa {
    display: flex;
    justify-content: space-around;
}

.container-fx-sb {
    display: flex;
    justify-content: space-between;
}

.container-fx-buttons {
    display: flex;
    align-items: center;
}

.container-fx-buttons button {
    margin-left: 10px;
}

.btn-outline-dark {
    border: 0px;
}

.form-label {
    margin-top: 15px
}

.btn-submit button {
    margin-top: 25px;
    padding: 6px 5em;
}